#map {
  height: 100vh;
  width: 100%;
}
.info-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.info-content .api-attribution {
  color: blue;
}
.info-address {
  margin: 0 30px 0 10px;
  font-size: 1.1em;
  line-height: 1.2;
}
.hidden {
  visibility: hidden;
  display:none;
}
